:global(.ui.modal) {
  >:global(.header).header {
    display: flex;
    justify-content: space-between;
  }
}

.shareUser {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  h3 {
    margin-bottom: 0;
    margin-right: 10px;
  }

  .notFound {
    margin-left: 10px;
    color: #9f3a38;
  }
}
