.headerWrp {
  display: flex;
  background-color: white;
  padding: 1em 0 1em;
}

.userWrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  color: black;
  font-weight: 700;
  font-size: 1.2em;
}

.userStatus {
  transform: translateX(-12px);

  &:global(.ui.transparent.input>input) {
    font-size: 0.75em;
    font-weight: 500;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.5);
    width: 290px;
    transition: all 0.3s ease;

    &:focus {
      color: #000000;
    }
  }

  &:global(.ui.icon.input>i.icon) {
    font-size: 10px;
    top: -1px !important;
    left: 10px !important;

  }
}


.logoutBtn,
.logoutBtn:hover {
  &:global(.ui.icon.button) {
    border: none;
    box-shadow: none;
  }
}

.menuBtn {
  color: gray;

  &:hover {
    color: black !important;
  }
}

.menuBtn:global(.ui.icon.button) {
  color: gray;

  &:hover {
    color: black !important;
  }
}
