.threadContent {
  width: 500px;
  margin: 20px auto;
  padding-bottom: 50px;
}

.addPostForm {
  margin-top: 20px;
}

.toolbar {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}
